* {
  font-size: 14px;
  font-family: "tiller", monospace;
}

body {
  margin: 0;
}

a {
  color: black;
}

header {
  display: flex;
  justify-content: center;
  margin: 36px;
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 16px;
  }
}

select {
  border-radius: 100px;
  font-size: 20px;
  background-color: #f4efef;
  border: 0px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  width: 50%;
}

.factionActive {
  border: 2px solid black;
  background-color: black;
  color: white;
}

.factionActiveAxiom {
  border: 2px solid #784032;
  background-color: #784032;
  color: white;
}

.factionActiveBravos {
  border: 2px solid #b12420;
  background-color: #b12420;
  color: white;
}

.factionActiveLyra {
  border: 2px solid #c4335f;
  background-color: #c4335f;
  color: white;
}

.factionActiveMuna {
  border: 2px solid #39693f;
  background-color: #39693f;
  color: white;
}

.factionActiveOrdis {
  border: 2px solid #005976;
  background-color: #005976;
  color: white;
}

.factionActiveYzmir {
  border: 2px solid #7e497b;
  background-color: #7e497b;
  color: white;
}

.grid2 {
  width: 40%;
}
.grid3 {
  width: 30%;
}
.grid4 {
  width: 20%;
}
.grid5 {
  width: 16%;
}

#containerCartes {
  margin: 16px 16px 100px 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  .cardCarte {
    .img-carte {
      box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
      width: 100%;
    }
    p {
      margin: 0;
    }
    button {
      border-radius: 20px;
      border: 0px;
      background-color: #ececec;
    }
    .carte-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
      p {
        font-size: 16px;
        margin-top: 8px;
        font-weight: 600;
      }
      .cardNum {
        border-radius: 50px;
        padding: 1px 7px;
        font-weight: bold;
        color: black;
        margin-top: 6px;
        background-color: #ececec;
      }
    }
  }
}

.divIllustrateur {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  opacity: 0.3;
  img {
    width: 16px;
  }
  p {
    font-size: 16px;
  }
}

#filtres {
  position: fixed;
  z-index: 100;
  width: 100vw;
  bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
  #containerGrid,
  #containerRarete,
  #containerFaction {
    background-color: white;
    border-radius: 100px;
    padding: 12px 12px;
    display: flex;
    gap: 4px;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    p {
      margin: 0 4px 0 0;
    }
    button {
      border: 1px solid black;
      border-radius: 50px;
      padding: 4px 8px;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
      img {
        width: 24px;
        cursor: pointer;
      }
    }
    .gridActif,
    .rareteActive {
      background-color: black;
      color: white;
    }
  }
}

.commune, .rare {
  display: none;
}

span {
  display: none;
  position: absolute;
  background: #CCCCCC;
  color: black;
  padding: 2px 4px;
  border-radius: 4px;
}

a:hover span {
  display: flex;
}